<div class="header">
    <div class="logo">
        <label class="logo-title">UBC EOSC 112</label>
    </div>
    <div class="social">
        <label class="title">
            <a class='headerColor' href="/" class='headerColor'><i class="fa fa-home fa-2x"></i></a>
        </label>
        <label class="title">
            <a class='headerColor' href="http://ca.linkedin.com/in/shreyansjain21/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </label>
        <label class="title">
            <a class='headerColor' href="https://www.facebook.com/sjain21" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
        </label>
        <label class="title">
            <a class='headerColor' href="mailto:jainshreyans@outlook.com"><i class="fa fa-envelope-square fa-2x"></i></a>
        </label>
     </div>
</div>
