<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EOSC 112 Question Bank</title>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Styling Stuff -->
        <link rel="stylesheet" href="/css/main.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/themes/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body class='body-color'>
        <% include header.html %>
        <div class='home-text'>
            <label>Hello!</label>
            <br />
            <span>So, this project just started because there are gazillion quizzes and midterms for this course (UBC EOSC 112), and we don't have solutions to the Study questions and rarely, I note down Clicker question solutions. So, I ended up creating this interactive quiz which covers all the topics and clicker/study questions for this course. More questions would be added as soon as someone sends me the solution.</span>
            <br />
            <span>Btw, these solutions are based on the discussions with other students.</span>
            <br />
            <span>So, If you see any incorrect solution, suggestions, UI stuff (yup, I am 0% creative), just send me a message on <br /><b>jainshreyans [at] outlook [dot] com</b></span>
            <br />
            <br />
            <span>Cheers!</span>
            <br />
            <br />
            <button type="button" class="btn btn-success"><a href='/start'>Lets' Start!</a></button>
        </div>
    </body>
</html>