<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EOSC 112 Question Bank</title>
        <meta name='viewport' content='initial-scale=1.0, user-scalable=no'>
        <meta charset="utf-8">
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <!-- Socket Stuff -->
        <script src='/socket.io/socket.io.js'></script>
        <!-- Styling Stuff -->
        <link rel='stylesheet' href='/css/main.css' type='text/css'/>
        <link rel='stylesheet' type='text/css' href='/themes/bootstrap.min.css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src='/js/vendor/require.js' data-main='/js/main.js'></script>
        <script src='/js/start.js'></script>
        <script src='/js/sugar.js'></script>

    </head>
    <body class='body-color'>
        <% include header.html %>
        <div id='frame' class='frame'>
            <!-- ko if: introScreen() -->
            <div class='quiz-intro'>
                <!-- ko if: error() !== '' -->
                <span style='color : #FF7F7F;' data-bind='text : error'></span><br/>
                <!-- /ko -->
                <label class='title'>Select the Topics?</label>
                <!-- ko foreach: topics -->
                <ul>
                    <input type='checkbox' data-bind="checked: showSubTopics"/>
                    <span class='topic-options' data-bind='text : topic'></span>
                        <div style="margin-left : 3%;" data-bind="visible : showSubTopics">
                            <!-- ko foreach : subTopic -->
                            <li>
                                <input type='checkbox' data-bind="checkedValue: $data.id, checked: $root.selectedSubTopics"/>
                                <span class='topic-options' data-bind='text : label'></span>
                            </li>
                            <!-- /ko -->
                        </div>
                </ul>
                <!-- /ko -->
                <label class='title'>Question Source Type?</label>
                <!-- ko foreach: type -->
                <ul>
                    <input type='checkbox' data-bind="checkedValue: $data.id, checked: $root.selectedType"/>
                    <span class='topic-options' data-bind='text : label'></span>
                </ul>
                <!-- /ko -->
                <button type="button" class="btn btn-success" data-bind='click : startQuiz'>Start</button>
            </div>
            <div class='update-feed'>
                <label class='title'><u>Update</u></label>
                <br />
                <ul>
                    <li>Added Answers for StudySection: Pleistocene-glac, last_millenium, abrupt_clim_chg (Dec 1)</li>
                    <li>Added Answers for Clicker: Pleistocene-glac, last_millenium, abrupt_clim_chg, n-cycle (Dec 1)</li>
                    <li>Added Answers for Clicker: LongTerm ClimEvol, Evol of LifeAtm (Nov 22)</li>
                    <li>Added Answers for StudySection: LongTerm ClimEvol, Evol of LifeAtm (Nov 20)</li>
                    <li>Added Answers for Greenhouse3(clicker), Greenhouse4,5(clicker, study), N-cyle(study) (Nov 11)</li>
                    <li>Added Answers for StudySection: Chg-Albedo, Chg-Greenhouse1,2,3 (Nov 03)</li>
                    <li>Added Answers for Clicker: Chg-Albedo, Chg-Greenhouse1,2 (Nov 02)</li>
                    <li>Added Answers for Clicker: Chg-Solar-Radiation (Oct 27)</li>
                    <li>Added Answers for Clicker: Bio-4 (Oct 22)</li>
                    <li>Project Open-sourced; Click <a href="https://bitbucket.org/jain21/eosc112quiz" target="_blank">here</a> for source-code!</li>
                </ul>
            </div>
            <!-- /ko -->
            <!-- ko if : ! introScreen() -->
            <div id='quiz-start' class='quiz-start'>
                <div class='frame-image'>
                    <span class='stopwatch' data-bind='text: timer'>lsdjglkasdjgj</span>
                    <!-- ko if: image() !== '' -->
                    <img class='question-img' data-bind="attr : { src : '/assets/data_pics/' + image() }">
                    <!-- /ko -->
                    <span class='footer-disclaimer'><b>PS: Please report if you think this is an incorrect answer!</b></span>
                </div>
                <div class='frame-question-section'>
                    <div class='question-check'>
                        <div style="width: 42%; float: right">
                            <button type="button" class="btn btn-danger"><a href='/start'>Home</a></button>

                            <!-- ko if : showNextButton() -->
                            <button type="button" class="btn btn-primary" data-bind='click : nextQuestion'>Next</button>
                            <!-- /ko -->

                            <!-- ko if : showCheckButton() -->
                            <button type="button" class="btn btn-success" data-bind='click : checkForAnswer'>Check</button>
                            <!-- /ko -->
                        </div>
                        <div class='counter-label'>
                            <span data-bind="text: 'Total: '+ nextQuestionIndex() + ' / ' +allQuestions().length"></span>
                            <a data-bind="attr : { href : mailToHref() }"><span class='report-incorrect'>Report Incorrect</span></a>
                        </div>
                    </div>
                    <div class='frame-question'>
                        <label class='question-text-title' data-bind="text : inputModel().question"></label>
                    </div>

                    <!-- ko foreach: inputModel().option -->
                    <div class='frame-option'>
                        <div data-bind='click : $root.answerSelected.bind($data, id), attr : { id : id }'>
                            <label class='question-text-option' data-bind="text : id + '. ' + value"></label>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
        </div>
    </body>
</html>