@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

@headerHeight : 10%;
@fontFamily : 'Open Sans';
@backgroundC : #413839;
@titleColor : #4EB1BA;
@textColor : #E9E9E9;
@answerSelected : #EF8319;
@answerCorrect : #458B00;
@answerIncorrect : #CC0000;
@headerC : #FFAE42;

html, body, #fullheight {
    min-height : 95% !important;
    height : 100%;
    width : 100%;
    margin : 0;
    overflow : scroll;
}

.body-color {
    background : @backgroundC;
}

.header {
    margin-top : 2%;
    height : @headerHeight;
    background : @headerC;

    .logo {
        margin-left : 5%;
        width : 50%;
        float : left;
        margin-top: -0.25%;

        .logo-title {
            font-size : 23px;
            line-height : 2.5;
            color : @backgroundC;
        }
    }

    .social {
        float : right;
        width : 20%;

        .title {
            margin-left: 5%;
            color : @textColor;
            font-weight : bold;
        }

        .selected {
            background : @titleColor;
        }

        .img {
            height : 45%;
            margin-left : 1%;
            margin-bottom : 1%;
        }

        a:hover {
            color : #413839;
        }
    }
}

.title {
    color : #FFF;
    font-family : @fontFamily;
    font-size : 15px;
    font-weight : 300;
    line-height : 4;
}

.frame {
    width : 100%;
    height : 85%;
    margin-top : 2%;

    .frame-image {
        width : 50%;
        height : 100%;
        float : left;
    }

    .quiz-intro {
        width : 50%;
        margin-left : 5%;
        float : left;

        .title {
            color : @textColor;
            font-size : 20px;
            font-weight : bold;
            margin-bottom : -3%;
        }

        .topic-options {
            font-family : @fontFamily;
            color : @textColor;
        }

        ul {
            margin-bottom: 1%;
        }
    }

    .stopwatch {
        color : @textColor;
        font-size : 24px;
        font-weight : bold;
        margin-left : 10%;
        width : 100%;
    }

    .footer-disclaimer {
        color : @answerIncorrect;
        position : fixed;
        bottom : 0;
        width : 100%;
        text-align : center;
    }

    .quiz-start {
        height : 95%;

        .question-img {
            max-height : 85%;
            width : 100%;

            .frame-image {
                width : 50%;
                float : left;
            }
        }

        .frame-question-section {
            float : right;
            width : 50%;

            .question-check {
                height : 8.5%;
                width : 100%;
                float : right;
                margin-right : 2%;

                .counter-label {
                    width : 40%;
                    float : left;
                    color : @titleColor;
                    margin : 2% 5%;
                    font-size : 15px;
                }
                a {
                    color : #FFF;
                }
                a:hover {
                    color : @textColor;
                    text-decoration: none;
                }
            }

            .frame-question {
                float : right;
                width : 95%;
                margin : 1% 0% 0%;
            }

            .frame-option {
                float : right;
                width : 95%;
                margin : -1.10% 1%;
            }

            .question-text-option {
                font-family : @fontFamily;
                font-weight : normal;
                color : @textColor;
                margin : 1% 0% 4% 3%;
                padding : 1.5% 1% 1% 3%;
                width: 95%;
                word-wrap : break-word;
                border : 3.5px solid @titleColor;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
            }

            .question-text-title {
                font-family : @fontFamily;
                font-weight : normal;
                color : @textColor;
                margin : 1.5% 0% 3% 3%;
                padding : 2%;
                width: 95%;
                word-wrap : break-word;
                border : 4px solid #FFAE42;
                -moz-border-radius: 25px 10px / 10px 25px;
                border-radius: 25px 10px / 10px 25px;
            }
        }
    }


}

.center {
    width : 100%;
    text-align : center;
}

.margin-top-2-pct {
    margin-top : 2%;
}

.answer-correct {
    background : @answerCorrect;
}

.answer-incorrect {
    background : @answerIncorrect;
}

.answer-selected {
    background : @answerSelected;
}

.headerColor {
    color : @backgroundC;
}

.home-text {
    width : 50%;
    margin : 5%;
    float : left;
    font-family : @fontFamily;

    label, span {
        color : @textColor;
    }

    a {
        color : #FFF;
    }

    a:hover {
        color : #FFF;
        text-decoration : none;
    }
}

.report-incorrect {
    margin-left : 10%;
    color : @headerC;
}

.update-feed {
    width : 40%;
    float : right;

    .title {
        font-weight : bold;
    }

    li {
        color : @textColor;
    }
}